{% extends 'base.html.twig' %}

{% block title %}Liste des skill{% endblock %}

{% block body %}
    <h1>Liste des skill</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td>
                    <a href="{{ path('read_skill', {'id': skill.id}) }}" class="btn btn-success">Voir</a>
                    <a href="{{ path('edit_skill', {'id': skill.id}) }}" class="btn btn-warning">Editer</a>
                          <a href="{{ path('delete_skill', {'id': skill.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_skill') }}">Create new</a>
{% endblock %}
