{% extends 'base.html.twig' %}

{% block title %}Edition de l'annonce {{ advertisement.title }}{% endblock %}

{% block body %}
    <h1>Edition de l'annonce {{ advertisement.title }}</h1>

    {{ include('backoffice/advertisement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backoffice_advertisements') }}">retour à la liste</a>

    {{ include('backoffice/advertisement/_delete_form.html.twig') }}
{% endblock %}
