{% extends 'base.html.twig' %}

{% block title %}Advertisements index{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>titre</th>
                <th>description</th>
                <th>approuvé?</th>
                <th>Image</th>
                <th>est supprimé?</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertisement in advertisements %}
            <tr>
                <td>{{ advertisement.id }}</td>
                <td>{{ advertisement.title }}</td>
                <td>{{ advertisement.content }}</td>
                <td>{{ advertisement.approved ? 'Yes' : 'No' }}</td>
                <td> <img src="{{ asset(upload_dir ~ advertisement.imageName ) }}" rel="stylesheet" class="img-logo"> </img></td>
                <td>{{ advertisement.isHidden ? 'Yes' : 'No' }}</td>
                <td>{{ advertisement.createdAt ? advertisement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ advertisement.updatedAt ? advertisement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('read_advertisement', {'id': advertisement.id}) }}" class="btn btn-success">voir</a>
                    <a href="{{ path('edit_advertisement', {'id': advertisement.id}) }}" class="btn btn-success">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_advertisement') }}">Créer une nouvelle annonce</a>
{% endblock %}
