{% extends 'base.html.twig' %}

{% block title %}Advertisements{% endblock %}

{% block body %}
    <h1>détail de l'annonce {{ advertisement.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertisement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ advertisement.content }}</td>
            </tr>
            <tr>
                <th>approuvé ? </th>
                <td>{{ advertisement.approved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                 <td> <img src="{{ asset(upload_dir ~ advertisement.imageName ) }}" rel="stylesheet" class="img-logo"> </img></td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ advertisement.createdAt ? advertisement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ advertisement.updatedAt ? advertisement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
        
    </table>

    <a  href="{{ path('approve_advertisement', {'id': advertisement.id}) }}" class="btn btn-success">approuver</a>
    <a  href="{{ path('refuse_advertisement', {'id': advertisement.id}) }}" class="btn btn-danger">refuser</a>
    <a href="{{ path('moderation_advertisements') }}" class="btn btn-info">retour à la liste</a>

  
{% endblock %}
