{% extends 'base.html.twig' %}

{% block title %}Advertisements{% endblock %}

{% block body %}
    <h1>Détail de l'annonce {{advertisement.title}} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advertisement.id }}</td>
            </tr>
            <tr>
                <th>titre</th>
                <td>{{ advertisement.title }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ advertisement.content }}</td>
            </tr>
            <tr>
                <th>approuvé ?</th>
                <td>{{ advertisement.approved ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Image</th>
               <td> <img src="{{ asset(upload_dir ~ advertisement.imageName ) }}" rel="stylesheet" class="img-logo"> </img></td>
            </tr>
            <tr>
                <th>est supprimé ?</th>
                <td>{{ advertisement.isHidden ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ advertisement.createdAt ? advertisement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ advertisement.updatedAt ? advertisement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backoffice_advertisements') }}">back to list</a>

    <a href="{{ path('edit_advertisement', {'id': advertisement.id}) }}">edit</a>

    {{ include('backoffice/advertisement/_delete_form.html.twig') }}
{% endblock %}
