{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>pseudo</th>
                <th>Photo de profil</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.nickname }}</td>
                <td> <img src="{{ asset(upload_dir ~ user.imageName ) }}" rel="stylesheet" style="width: 20%"> </img></td>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updated ? user.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backoffice_users_show', {'id': user.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('backoffice_users_edit', {'id': user.id}) }}" class="btn btn-warning">éditer</a>
                    <a href="{{ path('backoffice_users_delete', {'id': user.id}) }}" class="btn btn-danger">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('backoffice_users_new') }}" class="btn btn-success">créer un nouvel utilisateur</a>
{% endblock %}
